# Dependencies
node_modules/

# Expo
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Environment
.env
.env.local

# OS
.DS_Store
*.swp
Thumbs.db

# Build
ios/
android/

# IDE
.idea/
.vscode/
*.code-workspace

# Cache
*.tsbuildinfo
